@charset "UTF-8";
/* Colores */
.contacto .form .form__div--button .form__input, .socialLinks__list .socialLinks__listItem .socialLinks__link i {
  color: #f6f6f6;
  background: #597d9f;
  transition: all 0.2s;
}
.contacto .form .form__div--button .form__input:hover, .socialLinks__list .socialLinks__listItem .socialLinks__link i:hover {
  color: #30373f;
  transform: scale(1.15);
  background: #e0e0e0;
}

.staff__container .staff .staff__list .staff__listItem .staff__listImg {
  transition: all 0.2s;
}
.staff__container .staff .staff__list .staff__listItem .staff__listImg:hover {
  opacity: 0.6;
  transform: scale(1.15);
}

.staff__container .staff__descriptions #cdiaz:target, .staff__container .staff__descriptions #mandrada:target, .staff__container .staff__descriptions #caquino:target, .staff__container .staff__descriptions #alapidus:target {
  visibility: visible;
  display: flex;
  font-size: 16px;
  flex-direction: column;
  border: solid 2px #f6f6f6;
  align-self: center;
}

.description__listItem {
  display: flex;
  flex-direction: row;
}
.description__listItem .description__text {
  color: #f6f6f6;
}

/* Seteo */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*---------------------- Header---------------------*/
header {
  background-color: #597d9f;
}
header .header__logo {
  width: 100px;
  padding: 5px;
}
@media screen and (min-width: 1024px) {
  header .header__logo {
    width: 150px;
  }
}

/* ---------------------- Nav ----------------------*/
.nav__menu #menu:target {
  top: 0;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #1f1f1f;
  opacity: 0.85;
  height: 100vh;
  width: 100vw;
}
.nav__menu .nav__menuIcon {
  color: #f6f6f6;
  position: absolute;
  font-size: 28px;
  padding: 20px;
  padding-left: 30px;
  right: 0px;
  top: 45px;
  transition: all 0.2s;
}
.nav__menu .nav__menuIcon:hover {
  color: #ededed;
  transform: scale(1.1);
}
@media screen and (min-width: 768px) {
  .nav__menu .nav__menuIcon {
    display: none;
  }
}
.nav__menu .nav__menuList {
  display: none;
  padding-top: 100px;
}
.nav__menu .nav__menuList .nav__menuListItem--close {
  position: absolute;
  top: 0;
  right: 10px;
}
@media screen and (min-width: 768px) {
  .nav__menu .nav__menuList {
    display: inline-block;
    padding: 5px;
    right: 0;
    top: 60px;
    position: absolute;
  }
}
@media screen and (min-width: 1024px) {
  .nav__menu .nav__menuList {
    right: 0;
    top: 110px;
  }
}
.nav__menu .nav__menuList .nav__menuListItem {
  font-size: 24px;
  padding: 20px;
  transition: all 0.2;
}
.nav__menu .nav__menuList .nav__menuListItem:hover {
  border-top: solid 2px #f6f6f6;
  border-bottom: solid 2px #f6f6f6;
  transform: scale(1.2);
  color: #ededed;
}
@media screen and (min-width: 768px) {
  .nav__menu .nav__menuList .nav__menuListItem:hover {
    border: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__menu .nav__menuList .nav__menuListItem {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
  }
}
.nav__menu .nav__menuList .nav__menuListItem .nav__menuLink {
  padding: 10px 40vw;
  color: #f6f6f6;
}
@media screen and (min-width: 768px) {
  .nav__menu .nav__menuList .nav__menuListItem .nav__menuLink {
    padding: 5px 10px;
    border-radius: 5px;
  }
}

/* --------------------Redes ------------------------ */
.socialLinks__list {
  position: absolute;
  right: 10px;
  top: 5px;
}
.socialLinks__list .socialLinks__listItem {
  display: inline-block;
  padding: 5px;
}
.socialLinks__list .socialLinks__listItem .socialLinks__link i {
  font-size: 28px;
  position: relative;
  border-radius: 5px;
  padding: 2px;
}

/* ------------------ Footer --------------------- */
footer .footer__text {
  text-align: center;
  font-size: 14px;
  font-weight: 200;
  background: #d6e0ec;
}

html {
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 32px;
  padding: 20px;
  color: #30373f;
  text-align: left;
}
@media screen and (min-width: 1024px) {
  h1 {
    padding: 20px 40px;
    font-size: 44px;
  }
}

h2 {
  font-size: 28px;
  padding: 20px;
  color: #597d9f;
  text-align: center;
  background: #d6e0ec;
}
@media screen and (min-width: 768px) {
  h2 {
    background: unset;
  }
}
@media screen and (min-width: 1024px) {
  h2 {
    padding: 20px 40px;
    font-size: 32px;
  }
}

h3 {
  font-size: 22px;
  padding: 20px;
  color: #30373f;
  text-align: left;
  margin-top: 30px;
}
@media screen and (min-width: 1024px) {
  h3 {
    padding: 20px 40px;
    font-size: 26px;
  }
}

p {
  font-size: 18px;
  padding: 18px;
  color: #30373f;
  text-align: unset;
}
@media screen and (min-width: 1024px) {
  p {
    font-size: 22px;
  }
}

body {
  background-color: #f6f6f6;
}

/*  ---------------------Página Principal ---------------------- */
.noticias .noticias__list .noticias__listItem .noticias__text {
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .noticias .noticias__list .noticias__listItem .noticias__text {
    padding: 40px;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
@media screen and (min-width: 1024px) {
  .news {
    flex-wrap: nowrap;
  }
}
.news .news__img {
  width: 100vw;
}
@media screen and (min-width: 768px) {
  .news .news__img {
    padding: 5px;
    width: 50%;
  }
}
@media screen and (min-width: 1024px) {
  .news .news__img {
    width: 25%;
    padding: 0;
  }
}

/*Redes Sociales*/
.posts {
  display: none;
}
@media screen and (min-width: 1024px) {
  .posts {
    margin-top: 40px;
    display: block;
    padding: 20px;
  }
  .posts .posts__list {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
  .posts .posts__list .posts__listItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 300px;
  }
  .posts .posts__list .posts__listItem .posts__link {
    border-radius: 5px;
    color: #f6f6f6;
    text-align: center;
    align-self: flex-end;
    margin-top: 10px;
    padding: 5px 10px;
    width: 110px;
    background: #597d9f;
    transition: all 0.2s;
  }
  .posts .posts__list .posts__listItem .posts__link:hover {
    background: #e0e0e0;
    color: #30373f;
    transform: scale(1.15);
  }
}

/*Sección Nosotros */
.nosotros .nosotros__list .nosotros__listItem .nosotros__listText {
  padding: 5px 20px;
}
@media screen and (min-width: 1024px) {
  .nosotros .nosotros__list .nosotros__listItem .nosotros__listText {
    padding: 10px 40px;
  }
}

/* -----------Sección Servicios--------- */
.servicios .servicios__list {
  padding: 20px 0;
}
@media screen and (min-width: 1024px) {
  .servicios .servicios__list {
    padding: 40px;
  }
}
.servicios .servicios__list .servicios__listItem {
  margin-bottom: 20px;
  padding: 20px 0;
}
.servicios .servicios__list .servicios__listItem .servicios__listText {
  display: flex;
  align-items: center;
}
.servicios .servicios__list .servicios__listItem .servicios__listText .servicios__listImg {
  width: 25vw;
  min-width: 100px;
  position: relative;
  padding: 10px 20px 10px 0;
}

/* -----------Sección Staff------------- */
.staff__container .staff {
  display: block;
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .staff__container .staff {
    padding: 40px;
  }
}
.staff__container .staff .staff__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .staff__container .staff .staff__list {
    justify-content: space-around;
  }
}
@media screen and (min-width: 1024px) {
  .staff__container .staff .staff__list {
    justify-content: space-between;
  }
}
.staff__container .staff .staff__list .staff__listItem {
  padding: 20px;
}
@media screen and (min-width: 1024px) {
  .staff__container .staff .staff__list .staff__listItem {
    padding: 0;
  }
}
.staff__container .staff .staff__list .staff__listItem .staff__listText {
  text-align: center;
  font-weight: 600;
}
.staff__container .staff .staff__list .staff__listItem .staff__listImg {
  width: 80vw;
}
@media screen and (min-width: 768px) {
  .staff__container .staff .staff__list .staff__listItem .staff__listImg {
    width: 40vw;
  }
}
@media screen and (min-width: 1024px) {
  .staff__container .staff .staff__list .staff__listItem .staff__listImg {
    width: 20vw;
  }
}
.staff__container .staff .staff__list .staff__listItem .staff__description {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 80vw;
}
@media screen and (min-width: 768px) {
  .staff__container .staff .staff__list .staff__listItem .staff__description {
    width: 40vw;
  }
}
@media screen and (min-width: 1024px) {
  .staff__container .staff .staff__list .staff__listItem .staff__description {
    width: 20vw;
  }
}
.staff__container .staff .staff__list .staff__listItem .staff__description .staff__descriptionText {
  z-index: -1;
  font-size: 22px;
}
@media screen and (min-width: 1024px) {
  .staff__container .staff .staff__list .staff__listItem .staff__description .staff__descriptionText {
    font-size: 16px;
  }
}
.staff__container .staff__descriptions {
  top: 0;
  position: absolute;
  visibility: hidden;
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
.staff__container .staff__descriptions .descriptions__data {
  position: relative;
  display: none;
  background: #597d9f;
  padding: 20px;
}
.staff__container .staff__descriptions .descriptions__data .description__listItem--close {
  top: 5px;
  right: 5px;
  position: absolute;
}
.staff__container .staff__descriptions .descriptions__data .description__listItem--close i {
  font-size: 22px;
  padding: 5px;
  color: #f6f6f6;
  transition: all 0.2s;
}
.staff__container .staff__descriptions .descriptions__data .description__listItem--close i:hover {
  transform: scale(1.1);
}
.staff__container .dedicatoriaStaff .dedicatoriaStaff__text {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* ---------- Formulario de Contacto ------------ */
.contacto {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (min-width: 768px) {
  .contacto {
    flex-direction: row;
  }
}
@media screen and (min-width: 1024px) {
  .contacto {
    padding: 40px;
  }
}
.contacto .form {
  display: block;
  flex-direction: column;
  justify-self: center;
  align-self: center;
}
@media screen and (min-width: 768px) {
  .contacto .form {
    width: 40vw;
  }
}
.contacto .form .form__textarea {
  width: 100%;
}
.contacto .form .form__input, .contacto .form .form__select, .contacto .form .form__textarea {
  width: 100%;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .contacto .form .form__input, .contacto .form .form__select, .contacto .form .form__textarea {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .contacto .form .form__input, .contacto .form .form__select, .contacto .form .form__textarea {
    width: 100%;
  }
}
.contacto .form .form__input, .contacto .form .form__select, .contacto .form .form__textarea {
  display: block;
}
.contacto .form .form__label, .contacto .form .form__select, .contacto .form .form__textarea, .contacto .form .form__input {
  font-family: "oswald", sans-serif;
  font-size: 18px;
  color: #30373f;
  flex-direction: row;
}
.contacto .form .form__div--news {
  display: flex;
  align-items: center;
  margin: 20px 0;
}
.contacto .form .form__div--news .form__label {
  width: 210px;
}
.contacto .form .form__div--news .form__input {
  align-items: center;
  width: 20px;
  transform: scale(1.5);
  margin: 20px 0;
}
.contacto .form .form__div--button {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
}
@media screen and (min-width: 768px) {
  .contacto .form .form__div--button {
    width: 90%;
  }
}
@media screen and (min-width: 1024px) {
  .contacto .form .form__div--button {
    width: 100%;
  }
}
.contacto .form .form__div--button .form__input {
  width: 40%;
  border-radius: 10px;
}

.ubicacion {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .ubicacion {
    width: 40vw;
  }
}
.ubicacion .ubicacion__mapaIframe {
  width: 100%;
}
.ubicacion .ubicacion__direccion {
  text-align: center;
}