
/*---------------------- Header---------------------*/
header {
    background-color:$color-nav;
    .header__logo{
        width:100px;
        padding:5px;
        @media screen and (min-width:$breakpoint-large){
            width:150px;
        }
    }
}
/* ---------------------- Nav ----------------------*/
.nav__menu{
    #menu:target{
        top: 0;
        z-index:2;
        position: fixed;
        display:flex;
        flex-direction: column;
        align-items: center;
        background: #1f1f1f;
        opacity: 0.85;
        height: 100vh;
        width: 100vw;
      
    }
    .nav__menuIcon{
        color: $color-fondo;
        position:absolute;
        font-size:28px;
        padding:20px;
        padding-left:30px;
        right:0px;
        top:45px;
        transition: all 0.2s;
        &:hover{
            color: #ededed ;
            transform:scale(1.1);
        }
        @media screen and (min-width:$breakpoint-small){
            display:none;
        }
    }
    .nav__menuList{
        display:none;
        padding-top:100px;
        .nav__menuListItem--close{
            position: absolute;
            top:0;
            right:10px;
        }
        
      
        @media screen and (min-width:$breakpoint-small){
            display:inline-block;
            padding:5px;
            right:0;
            top:60px;
            position: absolute;

        }
        @media screen and (min-width:$breakpoint-large){
            right:0;
            top:110px;
        }

        .nav__menuListItem{
            font-size:24px;
            padding:20px;
            transition: all 0.2;
            
            &:hover{
                border-top: solid 2px $color-fondo;
                border-bottom: solid 2px $color-fondo;
                transform: scale(1.2);
                color: #ededed ;
                @media screen and (min-width:$breakpoint-small){
                    border: none;
                }
                
            }
            
            @media screen and (min-width:$breakpoint-small){
                display: inline-block;
                font-size:20px;
                padding: 5px;
            }
            .nav__menuLink{
                padding:10px 40vw;
                color: $color-fondo;
                
                
                @media screen and (min-width:$breakpoint-small){
                    padding: 5px 10px;
                    border-radius:5px;
                }
            }
            
        }
    }
}

/* --------------------Redes ------------------------ */
.socialLinks__list{
    position:absolute;
    right:10px;
    top:5px;

.socialLinks__listItem{
    display:inline-block;
    padding:5px;
    

    .socialLinks__link i{
    font-size:28px;
    position:relative;
    border-radius: 5px;
    padding:2px;
    @extend %button;
        
    }

}
}
/* ------------------ Footer --------------------- */
footer {
    .footer__text{
    text-align:center;
    font-size: 14px;
    font-weight: 200;
    background: $color-nav;
    color: $color-fondo;
}
}