/* Colores */
$color-nav: #0f0f0f;
$color-subtitle: #ee4035;
$color-celeste: #e0dee4;
$color-fondo: #f6f6f6;
$color-oscuro:#30373f;
$fuente-principal: 'Roboto', sans-serif;
$breakpoint-small:768px;
$breakpoint-large:1024px;
